@import "../../variables.css";

.password-generator {
  font-size: 1.4rem;
}

.password-generator header h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

@media (max-width: 550px) {
  .password-generator header h1 {
    font-size: 1.3em;
  }
}

.password-generator header {
  margin-bottom: 2em;
}

.password-generator .layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100em;
  margin: auto;
}

.password-generator .layout-container > div {
  margin: 0.5em 1em;
}

.password-generator .layout-container .form-area {
  -ms-flex-preferred-size: 40em;
  flex-basis: 40em;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background: var(--default-light-blue);
}

.password-generator .layout-container .result-area {
  -ms-flex-preferred-size: 25em;
  flex-basis: 25em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  background: var(--default-light-blue);
  border: 2px solid lightgray;
}
